/*
Theme Name: Prostruct Child
Author URI: http://scwebtech.com/
Template: prostruct
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: prostruct-child

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --rubik: 'Rubik', sans-serif;
}

body {
    font-family: var(--rubik) !important;
    overflow-x: hidden;
    background: #f8f7fc;
}

.c-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto !important;
}

.container {
    max-width: 1280px;
    padding: 0;
}

@media (max-width:1200px) {
    .container {
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
}

.c-btn-contact {
    min-width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #FFF;
    padding: 10px 12px;
    background: #006A4E;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {

    0%,
    100% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(0.9);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(0.9);
    }
}

.c-btn-contact i {
    font-size: 14px;
}

.c-btn-contact:hover {
    background: #FFF;
    color: #006A4E;
}

/**/
.swiper-pagination-bullets {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 auto 25px;
    padding: 0 15px;
    right: 0;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: #F8F7FC 6px solid;
    background: #F8F7FC;
    opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 20px;
    height: 20px;
    background: #006A4E;
}

.c-project-type-sec .swiper-pagination-bullets {
    max-width: 100%;
    justify-content: center;
    margin: 0 auto 20px;
}

/**/


/* Service page css start */

body.page-id-231 section.c-project-type-sec.w-100.lazyloaded {
    padding-top: 0;
}

.s-section-left {
    margin-top: -50px;
}

.s-what-we-do {
    position: relative;
    padding: 55px 0 78px;
    background-image: url(https://prostructengineering.com/wp-content/themes/prostruct-child/images/project-bg.svg);
    background-repeat: no-repeat;
    background-position: top 290px right;
}

.s-what-we-do h2 {
    text-align: center;
    font-weight: 700;
    font-size: 42px;
    color: #fff;
    margin: 0 0 0;
    line-height: 50px;
    font-family: var(--rubik);
}

.s-what-we-do:before {
    content: "";
    width: 100%;
    height: 340px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(//prostructengineering.com/wp-content/themes/prostruct-child/css/../images/what-we-are-bg.jpg) no-repeat top center;
    background-size: cover;
    z-index: -9;
}

.s-what-sub-text {
    font-size: 16px;
    color: #fff;
    line-height: 27px;
    font-weight: 500;
    font-family: var(--rubik);
    margin: 0 0 130px;
}

.s-what-we-wrap {
    margin-top: -100px;
}

.s-what-we-item {
    width: 100%;
    background-color: #fff;
    padding: 38px 20px;
    border-radius: 4px;
    text-align: left;
    margin: 15px 0;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 7%);
    position: relative;
}

.s-what-we-item svg {
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
}

.s-what-we-item:hover svg {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transition: all ease-in-out 0.3s;
}

.s-what-we-item h3 {
    font-family: var(--rubik);
    font-weight: 700;
    font-size: 36px;
    color: #fff;
    margin: 12px 0 0 0;
    line-height: 42px;
    color: #252525;
}

.structural_slidedown,
.structural_slidedup {
    width: 60px;
    height: 56px;
    border-radius: 6px;
    background-color: #006a4e;
    color: #fff !important;
    text-align: center;
    display: block;
    margin: 15px auto 0 auto;
    padding: 16px 0;
    z-index: 9;
}

.ph_slidedown_icon {
    width: 50px;
    height: 46px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 12px 0;
    border-radius: 6px;
    background-color: #006a4e;
    color: #fff !important;
    text-align: center;
    margin: 15px auto 0 auto;
    z-index: 9;
}

.structural_slidedup {
    margin: 15px auto -45px auto;
}

.st_slide {
    display: none;
    box-shadow: 20px 48px 66px 0px #0052A612;
    padding: 20px;
    margin-bottom: 22px;
}

.st_slide h4 {
    font-size: 28px;
    font-weight: 700;
    font-family: var(--rubik);
    line-height: 33px;
    margin-bottom: 15px;
}

.st_slide p {
    font-size: 16px;
    font-family: var(--rubik);
    line-height: 23px;
    color: #252525;
    margin-bottom: 25px;
}

.st_slide p span {
    color: #006A4E;
}

.service_bottom_right h2,
.service_bottom_left h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #252525;
    margin-bottom: 15px;
}

.service_bottom_section {
    padding: 39px 0;
}

.s-bttom-back-section {
    color: #ffffff;
    margin-bottom: 78px;
}


body.page-id-231 .c-structure-service-sec__main-area .c-get-quote-btn,
body.page-id-312 .c-structure-service-sec__main-area .c-get-quote-btn {
    background-color: #fff;
    color: #006a4e;
}

/**/

/**/

@media (max-width: 1280.98px) {
    .service_bottom_right h2 {
        font-size: 32px;
        line-height: 41px;
    }

    .s-what-we-item h3 {
        font-size: 28px;
        line-height: 34px;
    }

    .s-what-we-do h2 {
        font-size: 24px;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {
    .s-section-left {
        margin-top: 22px;
        text-align: center;
    }

    body.page-id-231 .c-content-area {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width:767.98px) {
    .s-what-we-item h3 {
        font-size: 22px;
        line-height: 30px;
    }

    .st_slide h4 {
        font-size: 20px;
        line-height: 28px;
    }

    .service_bottom_right h2,
    .service_bottom_left h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .service_bottom_left {
        margin-bottom: 15px;
    }

    .service_bottom_right {
        margin-top: 15px;
    }

    .service_bottom_section {
        padding: 15px 0;
    }

    .s-bttom-back-section {
        margin-bottom: 60px;
    }

    .s-what-we-do {
        padding: 55px 0 60px;
    }

}

@media (max-width: 575.98px) {
    .c-btn-contact {
        min-width: auto;
        padding: 10px 22px !important;
        font-size: 14px;
        margin-left: -7px;
    }

    .s-what-we-item {
        text-align: center;
    }

    body.page-id-231 .c-content-area .get-free-quote-btn {
        margin: 0 auto;
    }

    .s-bttom-back-section {
        margin-bottom: 35px;
    }

    .s-what-we-do {
        padding: 35px 0 40px;
    }

    .st_slide {
        padding: 80px 15px 20px 15px;
    }

    body.page-id-231 .c-why-choose-sec {
        padding: 0 0 35px;
    }
		
	
	
}








